@tailwind base;
@tailwind components;
@tailwind utilities;

Header {
  background-color: #D42121;
}

.logo {
  width: 25%;
}

.headerText {
  width: 75%;
  text-align: center;
  font-family: Helvetica;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

::-webkit-scrollbar-track:hover {
  background-color: #f2f2f2;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

html {
  background: #202123;
}

@media (max-width: 720px) {
  pre {
    width: calc(100vw - 110px);
  }
}

pre:has(div.codeblock) {
  padding: 0;
}


.custom-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  .custom-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
}



/* Light mode (default) */
@media (prefers-color-scheme: light) {
  .chat-button-blue-color {
    color: #1dbff5; 
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  .chat-button-blue-color {
    color: #8edffa; 
  }
}